<app-loading *ngIf="loading"></app-loading>

<div class="card-columns animated fadeIn">
  <div (click)="verArtista( cancion )" *ngFor="let cancion of nuevasCanciones" class="card p-2 puntero">
    <img [src]="cancion.images | noimage" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">{{ cancion.name }}</h5>
      <p class="card-text">
          <span *ngFor="let artista of cancion.artists" class="badge badge-pill badge-primary">{{ artista.name }}</span>
      </p>
  </div>
</div>